*{
  margin: 0;
  padding: 0;
  outline: 0;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
ul,ol{
  list-style-type: none;
}
img{
  vertical-align: middle;
  border: 0;
}

h1,h2,h3,h4,h5,h6,a,p,span,ul,ol,strong{
  font-family: 'Poppins', sans-serif;
}


/* ======================================================================================================
                                              Sub Navbar Part Css
======================================================================================================== */
#sub-nav{
  padding-top: 15px;
  padding-bottom: 10px;
  background: #203260;
}
.sub-nav-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.sub-nav-item{
  display: flex;
  max-width: 300px;
}
.sub-nav-item:nth-child(1),.sub-nav-item:nth-child(2){
  margin-right: 20px;
}
.sub-social-icon:nth-child(1),.sub-social-icon:nth-child(2){
  margin-right: 10px;
}
.sub-social-icon i{
 margin-left: 30px;
 color: #ffffff;
 transition: all linear .3s;
 overflow: hidden;
 font-size: 16px;
}
.sub-social-icon i:hover{
  color: #e9ab00;
  transform: scale(1.2);
}
.sub-nav-item .content h6{
  font-size: 16px;
  color: #ffffff;
  font-weight: 300;
  transition: all linear .3s;
}
.sub-nav-item .content h6:hover{
  color: #e9ab00;
}

/* ===================================================================================================
                                             Navbar Part Css
======================================================================================================= */
.navbar-brand img{
  height: 80px;
}
.navbar{
  background: #f5f5f5;
  position: absolute;
  z-index: 99;
  width: 100%;
  top: 52px;
}
.navbar-light .navbar-nav .nav-link {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #203260;
  text-transform: uppercase;
  transition: all linear .3s;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-light .navbar-nav .nav-link:focus{
  color: #203260;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #3aa40c;
}
.navbar-light .navbar-nav .nav-link.active{
  color: #3aa40c;
}
.menu-bg{
  background: #ffffff;
  position: fixed;
  animation: bg 1s;
  width: 100%;
  top: 0;
  z-index: 99999;
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}
@keyframes bg{
  from{top: -50px;}
  to{top: 0px;}
}
/* =======================================================================================================
                                             Banner Part Css
========================================================================================================= */
#banner{
  background: url(../images/banner1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}
#banner::after{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
}
.banner-content{
  position: relative;
  z-index: 9;
  top: 60%;
  transform: translateY(-60%);
}
.middle .btn{
  position: relative;
  color: #fff;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin: 20px 0;
  border: 2px solid #3aa40c;
  padding: 14px 45px;
  text-transform: uppercase;
  overflow: hidden;
  transition: all .6s ease;
  border-radius: 0;
}
.middle .btn:nth-child(1){
  margin-right: 20px;
}
.middle .btn::before{
  background: #e9ab00;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
  transition: all .6s ease;
}
.middle .btn3::before{
  width: 100%;
  height: 0;
  transform: translate(-50%,-50%) rotate(45deg);
}
.middle .btn3:hover::before{
  height: 460%;
}
.middle .btn:hover{
  border: 2px solid #e9ab00;
}
.banner-contents h1{
  color: #ffffff;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 800;
  line-height: 50px;
}
.banner-contents p{
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
  line-height: 26px;
  padding-top: 10px;
}

/* ==================================================================================================
                                            Content Part Css
====================================================================================================== */
#content{
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #f5f5f5;
}
.content-details{
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  transition: all linear .6s;
}
.content-details img{
  border-radius: 5px;
  height: 250px;
  overflow: hidden;
  transition: all linear .3s;
}
.content-details:hover img{
  transform: scale(1.2);
}
.content-details .overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  border-radius: 5px;
}
.content-details .overlay .over-content h5{
  color: #fff;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.content-details .overlay .over-content span{
  color: #ffffff;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
}
.content-btn .btn{
  background: transparent;
  margin-top: 15px;
  border: 0;
  transition: all lienar .3s;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: #3aa40c;
  padding: 0;
}
.content-btn .btn:hover{
  color: #e9ab00;
}
.content-btn .btn i{
  margin-left: 5px;
  transition: all linear .3s;
}
.content-btn .btn:hover i{
  color: #e9ab00;
  transform: translateX(5px);
}
.content-btn .btn-primary.focus, .btn-primary:focus {
  box-shadow: none;
}


/* ==================================================================================================
                                            About Part Css
====================================================================================================== */
#about{
  padding-top: 70px;
  padding-bottom: 70px;
}
.about-contents{
  position: relative;
  z-index: 9;
}
.mr-1{
  color: #3aa40c!important;
  transition: all .6s ease;
}
.mr-1:hover{
  color: #ffffff!important;
}
.about-content img{
  clip-path: polygon(25% 0%, 100% 0%, 100% 99%, 0% 100%);
}
.about-content h3{
  font-size: 24px;
  line-height: 34px;
  color: #203260;
  font-weight: 600;
  padding-bottom: 12px;
  text-transform: inherit;
}
.about-content p{
  color: #666666;
  font-size: 16px;
  line-height: 26px;
  padding-right: 30px;
}

/* ======================================================================================================
                                                  Service Part Css
======================================================================================================== */
#service{
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #f5f5f5;
}

.cmn-title h2{
  color: transparent;
  font-size: 40px;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #203260 ;
  text-shadow: 8px 8px 6px rgb(32, 50, 96,.1);
  margin-bottom: 50px;
}
.service-container{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0px 3px 7px 2px #ececec;
  padding: 25px;
  transition: all linear .3s;
}
.service-container:hover{
  box-shadow: 0px -2px 7px 2px #f5f5f5;
}
.service-container:nth-child(1),.service-container:nth-child(2),.service-container:nth-child(3){
  margin-bottom: 30px;
}
.service-container .service-card{
  position: relative;
  display: flex;
}
.service-container .service-card .icon{
  font-size: 40px;
  justify-content: center;
  color: #3aa40c;
  transition: all linear .3s;
}
.service-container:hover .icon{
  color: #e9ab00;
}
.service-container .service-card .service-content{
  margin-left: 20px;
}
.service-container .service-card .service-content h3{
  color: #203260;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 5px;
}
.service-container .service-card .service-content span{
  color: #666666;
  font-size: 14px;
  line-height: 24px;
}

/* ==================================================================================================
                                              Project Part Css
====================================================================================================== */
#project{
  padding-top: 70px;
  padding-bottom: 70px;
}
.fact{
  padding: 25px;
  box-shadow: 0px 3px 7px 2px #ececec;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 180px;
}
.facts{
  flex: 1 1 auto;
}
.facts h4{
  color: #203260;
  font-size: 20px;
  font-weight: 600;
}
.facts p{
  color: #666666;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}
.facts h3{
  color: #3aa40c;
  font-size: 40px;
  font-weight: 600;
}
.facts span{
  color: #203260;
  font-weight: 600;
  font-size: 16px;
}
.project-details{
  margin-top: 50px;
}
.pro-img{
  position: relative;
  overflow: hidden;
}
.pro-img img{
  overflow: hidden;
  transition: all linear .6s;
}
.pro-img::after{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
}
.project-content{
  margin: 0 20px;
  background: #ffffff;
  box-shadow: 0px 3px 7px 2px rgb(236, 236, 236,0.5);
  padding: 25px;
  text-align: center;
  position: relative;
  top: -50px;
  transition: all linear .3s;
}
.project-content h3{
  color: #3aa40c;
  font-size: 18px;
  font-weight: 600;
  transition: all linear .3s;
}
.project-content span{
  color: #203260;
  font-size: 14px;
  font-weight: 500;
  transition: all linear .3s;
}
.project-content:hover{
  background: #FFC31D;
}
.project-content:hover h3,.project-content:hover  span{
  color: #ffffff;
}
.pro-img:hover img{
  transform: scale(1.2);
}


/* =====================================================================================================
                                               Testimonial Part Css
======================================================================================================= */
#testimonial{
  padding-top: 70px;
  padding-bottom: 70px;
  background: #f5f5f5;
}
.testi-details{
  padding: 30px;
  background: #ffffff;
  box-shadow: 0px 3px 7px 2px #ececec;
  margin-bottom: 40px;
  transition: all linear .3s;
}
.testi-details:hover{
  transform: translateY(-5px);
}
.testi-details:hover .tesi-content .testi-item img{
  border-color: #FFC31D;
  transform: scale(0.95);
}
.testi-item img{
  border-radius: 50%;
  border: 5px solid #ececec;
  transition: all linear .6s;
  overflow: hidden;
  transform: scale(1);
}
.tesi-content{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.tesi-content .testi-item{
  margin-right: 40px;
}
.testi-item h6{
  color: #3aa40c;
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
}
.testi-item span{
  color: #203260;
  font-size: 16px;
  font-size: 500;
}
.testi-details p{
  color: #666666;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

/* ==================================================================================================
                                               Funfact Part Css
===================================================================================================== */
#funfact{
  padding-top: 50px;
  padding-bottom: 50px;
  background: #203260;
}
.funfact-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.mr-2{
  margin: 0!important;
}
.factfact-item h6{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-top: 15px;
}


/* ====================================================================================================
                                                 News Part Css
====================================================================================================== */
#news{
  padding-top: 70px;
  padding-bottom: 70px;
  background: #f5f5f5;
}
.news-details{
  transition: all linear .3s;
}
.news-details:hover .news-img img{
  transform: scale(1.2);
}
.news-img img{
  overflow: hidden;
  transition: all linear .6s;
}
.news-img{
 position: relative;
 overflow: hidden;
 transition: all linear .6s;
}
.news-img::after{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
}
.news-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}
.news-item:nth-child(1){
  margin-right: 10px;
}
.news-item i{
  color: #3aa40c;
  font-size: 14px;
  transition: all linear .3s;
}
.news-item span{
  color: #203260;
  font-size: 14px;
  font-weight: 600;
  transition: all linear .3s;
}
.news-contents{
  margin: 0 25px;
  background: #ffffff;
  box-shadow: 0px 3px 7px 2px rgb(236, 236, 236,0.3);
  padding: 20px;
  position: relative;
  top: -40px;
  transition: all linear .3s;
}
.news-blog span{
  color: #666666;
  font-size: 14px;
  font-weight: 400;
  transition: all linear .3s;
}
.news-details:hover .news-contents{
  background: #FFC31D;
  transform: translateY(-5px);
}
.news-details:hover .news-contents .news-content .news-item i,.news-details:hover .news-contents .news-content .news-item span{
  color: #ffffff;
}
.news-details:hover .news-contents .news-blog span{
  color: #ffffff;
}

/* ====================================================================================================
                                               Team Part Css
======================================================================================================= */
#team{
  padding-top: 70px;
  padding-bottom: 70px;
}
.our-team {
  padding: 30px 0 40px;
  background: #f9f9f9;
  text-align: center;
  overflow: hidden;
  position: relative;
  border-bottom: 5px solid #203260;
  margin-bottom: 40px;
}
.our-team:hover{
  border-bottom: 5px solid #2f2f2f;
}

.our-team .pic{
  display: inline-block;
  width: 130px;
  height: 130px;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
}
.our-team .pic:before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #203260;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 1;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}
.our-team:hover .pic:before{
height: 100%;
  background: #2f2f2f; 
}
.our-team .pic:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #ffffff00;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: all 0.3s linear 0s;
}
.our-team:hover .pic:after{
  background: #3aa40c;
}
.our-team .pic img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
  position: relative;
  z-index: 2;
}
.our-team:hover .pic img{
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
}
.our-team .team-content{ margin-bottom: 30px; }
.our-team .title{
  font-size: 20px;
  font-weight: 700;
  color: #3aa40c;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin-bottom: 5px;
}
.our-team .post{
  display: block;
  font-size: 14px;
  color: #666666;
  font-weight: 400;
  text-transform:capitalize;
}
.our-team .social{
  width: 100%;
  padding: 0;
  margin: 0;
  background: #2f2f2f;
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}
.our-team:hover .social{ bottom: 0; }
.our-team .social li{ display: inline-block; }
.our-team .social li a{
  display: block;
  padding: 10px;
  font-size: 17px;
  color: #fff;
  transition: all 0.3s ease 0s;
}
.our-team .social li a:hover{
  color: #3aa40c;
}
@media only screen and (max-width: 990px){
  .our-team{ margin-bottom: 30px; }
}

/* =====================================================================================================
                                           Request Part Css
======================================================================================================= */
#request{
  padding-top: 70px;
  padding-bottom: 60px;
  background: url(../images/quote.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}
#request::after{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.7);
}
.request-details .card{
  border-radius: 0;
  border: 1px solid #dce0e8;
  margin-bottom: 10px;
  box-shadow: 0px 3px 7px 2px rgb(236, 236, 236,0.3);
}
.request-details .card-header{
  border-bottom: 0;
  background: #f5f5f5;
}
.request-details .btn-link {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: #203260;
  white-space: normal;
  transition: all linear .3s;
}
.request-details .btn-link.focus, .btn-link:focus {
  text-decoration: none;
  color: #203260;
}
.request-details .btn-link:hover {
  color: #3aa40c;
  text-decoration: none;
}
.request-details .card-body {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #666666;
  padding: 0 30px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.quote-form{
  background: #ffffff;
  padding: 20px 35px 42px;
  margin-left: 20px;
  box-shadow: 0px 3px 7px 2px rgb(236, 236, 236,0.3);
}
.quote-form h6{
  color: #203260;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 25px;
}
.quote-form #formGroupExampleInput,.quote-form #exampleFormControlInput1,.quote-form #formGroupExampleInput2{
  height: calc(2.60rem + 2px);
}
.quote-form .form-control{
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #dce0e8;
}
.quote-form .form-control:focus {
  color: #203260;
  border-color: #3aa40c;
  box-shadow: none;
}
.form-btn {
  margin-top: 30px;
}
.form-btn .btn{
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 8px;
  padding: 15px 0;
  background: #3aa40c;
  border-color: #3aa40c;
  transition: all linear .3s;
}
.form-btn .btn:hover{
  background: transparent;
  color: #3aa40c;
}

/* =======================================================================================================
                                                Contact Part Css
======================================================================================================== */
#contact{
}
.contact-bg{
  background: #ffffff;
  box-shadow: 0px 3px 7px 2px rgb(236, 236, 236,0.15);
  padding: 10px 0;
  padding-left: 20px;
  position: relative;
  top: 75px;
}
.contact-container{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 30px;
}
.contact-item{
  width: 20%;
}
.contact-item i{
  color: rgba(58, 164, 12,0.4);
  font-size: 80px;
}
.contact-items{
  width: 80%;
}
.contact-items h6{ 
  color: #203260;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.contact-items span{
  color: #666666;
  font-size: 16px;
  font-weight: 400;
}


/* ========================================================================================================
                                              Footer Part Css
========================================================================================================= */
#footer{
  padding-top: 160px;
  padding-bottom: 70px;
  background: #203260;
}
.footer-details h6{
  color: #ffffff;
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 15px;
}
.footer-details p{
  color: #f5f5f5;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  padding-right: 20px;
  margin-bottom: 30px;
}
.footer-icon i{
  color: #fff;
  font-size: 18px;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  border: 1px solid #31426c;
  border-radius: 50%;
  transition: all linear .3s;
}
.footer-icon i:hover{
 background: #3aa40c;
 border: 1px solid #3aa40c;
}
.footer-details ul li i{
  margin-right: 10px;
  color: #506290;
  transition: all linear .3s;
}
.footer-details ul li a{
  color: #ececec;
  transition: all linear .3s;
}
.footer-details ul li{
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}
.footer-details ul li:hover i,.footer-details ul li:hover a{
  color: #3aa40c;
  transform: translateX(5px);
}
.footer-details .form-control{
  font-family: 'Poppins', sans-serif;
  height: calc(2.9rem + 2px);
  border-radius: 0;
}
.footer-details .form-control:focus{
  box-shadow: none;
  border-color: #3aa40c;
}
.f-btn .btn{
  border-radius: 0;
  color: #ffffff;
  background: #3aa40c;
  border-color: #3aa40c;
  padding: 10px 20px 13px;
}

/* =====================================================================================================
                                          Footer Bottom Part Css
======================================================================================================= */
#footer-btm{
  background: #203260;
}
.footer-bg{
  border-top: 1px solid #31426c;
  padding-top: 40px;
  padding-bottom: 20px;
}
#footer-btm h6{
  color: #f5f5f5;
  font-size: 16px;
  font-weight: 600;
}
#footer-btm p{
  text-align: right;
  color: #dce0e8;
  font-size: 16px;
  font-weight: 600;
}
#footer-btm p a{
  color: #dce0e8;
  transition: all linear .3s;
}
#footer-btm p a:hover{
  color: #3aa40c;
}

/* ===============================================================================================
                                           Back to Top Part Css
=================================================================================================== */
.back-to-top{
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 9999;
  display: none;
}
.back-to-top i{
  color: #f5f5f5;
  font-size: 18px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #3aa40c;
  border-radius: 3px;
}

/* ====================================================================================================
                                            Preloader Part Css
======================================================================================================= */
.preloader{
  width: 100%;
  height: 100%;
  background: #ffffff;
  position: fixed;
  z-index: 99999999;
}
#loader {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #3aa40c;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #31426c;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #e9ab00;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
  0%   {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}
@keyframes spin {
  0%   {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}